@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";
}



<h1>@ViewBag.SeriesTitle</h1>
<h2>Issue #@ViewBag.IssueNumber</h2>


<h5>Description</h5>
<div>@Html.Raw(ViewBag.Description)</div>

<h5>Artists:</h5>
@if (ViewBag.Artists.Length>0) {
<div>
<ul>
    @foreach (var artist in ViewBag.Artists)
    {
        <li>@artist</li>
        //<text>* @artist</text>
    }
</ul>

</div>
}
